.DS_Store
*mod
*o
*blg
*log
*out
*synctex.gz
*toc
*bbl
*log
*aux
sample_inputs/UVAFME_output.R
sample_inputs/GetClimDat.R
sample_inputs/output_data_sample/*csv
sample_inputs/output_data_sample/*txt
.Rhistory
